:root {
    --text-color: #667085;
    --main-color: #8E2424;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: "inter", sans-serif;
}

body {
    width: 100%;
    height: 100vh;          
}

.container{
    width: 90%;    
    height: 5vh;
    margin: 3%;      
    display: flex;
    align-items: center;           
}

.logo {
    margin: 0.5rem;    
    margin-left: 3%;  
    width: 27px;
    height: 27px;    
}

a { 
    text-decoration: none;
}

.content{ 
    display: flex;
    align-items: center;
    justify-content: center;     
    gap: 40px;
    flex: 1;
}

button {    
    padding: 0.8rem 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: 500;
    color: var(--text-color);
    background: none;
    border: none;
    font-size: 0.9rem;
}

#signUp {
    background-color: var(--main-color);
    color: #fff;     
}

.cabecalho {
    width: 100%;
    height: 30vh; 
    text-align: center;   
}

.subtitulo {
    color: #8E2424;      
    font-size: 16px;
    margin-top: 96px;
}

h1 {
    font-size: 48px;
    color: #101828;
    margin-top: 20px;
}

.texto-sobre-nos {
    color: #667085;
    margin-left: 324px;
    margin-right: 325px;
    height:60px;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

.container-metrica {     
    height: 192px;    
    display: flex;  
    align-items: center;
    justify-content: space-around;     
    padding: 100px;     
}

._MetricaItem { 
    justify-content: space-between;  
    list-style: none;
    flex: 1;
    align-items: flex-end;
    margin-top: 0.3rem; 
    
}

.container-metrica ul li:first-child{    
    font-size: 60px;
    color: #8E2424;
    font-weight: 700;        
}

._MetricaItem  li:nth-child(2) {
    font-weight: 500;
    font-size: 18px;
    color:#101828;
    margin-top: 0.5rem;    
}

._MetricaItem li:nth-child(3) {
    color: #667085;
    margin-top: 0.5rem;
   
}

.vagas {
    width: 100%;
    height: 30vh; 
    text-align: center; 

}






