* {
    margin: 0;
    font-family: "inter", sans-serif;
}

body {
    width: 100%;
    height: 80px;   
}

header {
    width: 100%;
    height: 80px;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1280px;
    height: 44px;
    top: 18px;
    left: 80px;   
    padding: 0px, 32px, 0px, 32px;
    display: flex;
    align-items: center;
    justify-content: center;       
}

img {   
    width: 27px;
    height: 27px;
}

a {
    text-decoration: none;
    margin-left: 8px;   
}

.content{
    width: 100%;
    height: 32px;
    top: 6px;  
    display: flex;
    list-style: none; 
    align-items: center;
    justify-content: center;     
    gap: 40px; 
}

._navigation-actions {
    width: 100%;   
    display: flex;   
    justify-content: flex-end;
    gap: 12px; 
}

.entrar {
    width: 47px;
    height: 24px;
    top: 10px;
    color: #667085;
    background-color: white;
    border: transparent;
}

.cadastrar {
    background-color: #8E2424;
    color: #fff;
    border-radius: 5px;   
    border: transparent;  
    align-items: flex-end;
}

.subtitulo {
    color: #8E2424;
    margin-top: 96px;
    margin-bottom: 24px;
    font-size: 16px;
}

p, h1 {   
    display: flex;
    align-items: center;
    justify-content: center;  
}

h1 {
    font-size: 48px;
    color: #101828;
}

.texto-sobre-nos {
    color: #667085;
    margin-left: 324px;
    margin-right: 325px;
    height:60px;
    margin-top: 12px;
    text-align: center;
    font-size: 20px;
}

.metricas {    
    height: 288px;
    padding: 80px;        
}

.container-metrica {   
    height: 192px;    
    display: flex;  
    align-items: center;
    justify-content: center;
    gap: 64px;
    margin: 0;
    border: 1px solid red;    
}

._MetricaItem {    
    list-style: none;
    flex: 1;
}

.container-metrica ul li:first-child{    
    font-size: 60px;
    color: #8E2424;
    font-weight: 700; 
       
}

._MetricaItem  li:nth-child(2) {
    font-weight: 500;
    font-size: 18px;
    color:#101828;
    
}

._MetricaItem li:nth-child(3) {
    color: #667085;
   
}






